LabXML/8.Editorial/Editorial.dtd

<!ELEMENT edicion (cabecera, tabla)>
    <!ELEMENT cabecera (descripcion, fecha)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT tabla (region*)>
<!ELEMENT region (trimestre*)>
    <!ATTLIST region codigo CDATA #REQUIRED>
<!ELEMENT trimestre (librosVendidos*)>
    <!ATTLIST trimestre codigo CDATA #REQUIRED>
<!ELEMENT librosVendidos (#PCDATA)>